<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FemmeVogue</a>
        <!-- <form class="d-flex ms-auto search-form" action="/admin/search" method="GET">
            <input class="form-control me-2" type="search" name="q" placeholder="Search products, categories..." aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <a href="/admin/logout" class="btn btn-danger ms-2">Logout</a>
    </div>
</nav>