<!-- Sidebar -->
<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin</div> <!-- Changed heading to "Admin" -->
    <div class="list-group list-group-flush">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
        <a href="/admin/users" class="list-group-item list-group-item-action bg-dark text-white">Users</a>
        <a href="/admin/products" class="list-group-item list-group-item-action bg-dark text-white">Products</a>
        <a href="/admin/orders" class="list-group-item list-group-item-action bg-dark text-white">Orders</a>
        <a href="/admin/categories" class="list-group-item list-group-item-action bg-dark text-white">Categories</a>
        <a href="/admin/offer" class="list-group-item list-group-item-action bg-dark text-white">Offers</a>
        <a href="/admin/coupon" class="list-group-item list-group-item-action bg-dark text-white">Coupons</a>
        <a href="/admin/reviews" class="list-group-item list-group-item-action bg-dark text-white">Reviews</a>
        <a href="/admin/banners" class="list-group-item list-group-item-action bg-dark text-white">Banners</a>
    </div>
</div>