* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin: 40px 0 20px; /* Space above heading */
    color: #333;
}

p {
    font-size: 14px;
    margin: 20px 0; /* Equal margin top and bottom */
    color: #555;
}

.input-group {
    position: relative;
    margin-bottom: 20px; /* Maintain spacing for the input group */
}

.input-group input {
    width: 100%;
    padding: 12px 12px; /* Adjusted padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 10px; /* Adjusted position for label */
    left: 12px; /* Adjusted position for label */
    font-size: 16px;
    color: #888;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }
}
