<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/user/forgot-password.css">
</head>
<body>
    <div class="container">
        <h2>Forgot password?</h2>
        <p>Enter the email address you used when you joined and we'll send you instructions to reset your password</p>
        <form id="forgotPasswordForm" action="/login/forgot-password" method="POST">
            <div class="input-group">
                <label for="email"></label>
                <input type="email" id="email" name="emailId" placeholder="Email Address">
                <small id="emailError" style="color: red; display: none;">Please enter a valid email address</small>
            </div>
            <button type="submit">Reset password</button>
            <%= message %>
        </form>
    </div>

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function(event) {
            // Get the email input field
            const emailInput = document.getElementById('email');
            const emailError = document.getElementById('emailError');

            // Regular expression for validating an email
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            // Check if the email input is empty or invalid
            if (!emailInput.value || !emailPattern.test(emailInput.value)) {
                // Prevent the form from being submitted
                event.preventDefault();
                // Show the error message
                emailError.style.display = 'block';
            } else {
                // Hide the error message if the email is valid
                emailError.style.display = 'none';
            }
        });
    </script>
</body>
</html>
